{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand
    </title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css?h=111c0a2303c0bc35035e458befb58432' %}">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
  </head>
  <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">about you
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="portfolio">Portfolio
              </a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="contact">Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="text-center text-white bg-primary masthead">
      <div class="container">
        <h1>Hasnain Asif
        </h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Software Engineer - Web developer - Bootstrap Designer
        </h2>
      </div>
    </header>
    <section class="text-white bg-primary mb-0" id="about">
      <div class="container">
        <h2 class="text-uppercase text-center text-white">About
        </h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ms-auto">
            <p class="lead">My name is Hasnain Asif and I am a software engineer and a Bootstrap designer. I am born and raised in Johannesburg, South Africa. I have completed all my education as well as software studies in Johannesburg. Apart from programming my most passionate hobbies is cars. I like them loud.
            </p>
          </div>
          <div class="col-lg-4 me-auto">
            <p class="lead">I am 18 years old at the time of writing this and I am born in 2004.
            </p>
          </div>
        </div>
        <div class="text-center mt-4">
        </div>
      </div>
    </section>
    <div class="text-center text-white copyright py-4">
      <div class="container">
        <small>Copyright ©&nbsp;Brand 2023
        </small>
      </div>
    </div>
    <script src="/assets/js/script.min.js?h=33588ed143bc098cbcf279ea5d7aa7b8">
    </script>
  </body>
</html>