<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CV:</h1>
    <h3>I have completed matric with a bachelors pass. I will be completing my software engineering by Hyperiondev</h3>
    <h3>I have experiance with bootstrap and user experiance designing, I have worked for 1 year at a cell phone store as a manager.</h3>
    
</body>
</html>